body {
	background: #E1E1E1;
	color: #000000;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin:0px;
	padding: 0px;
}
.left_table {
	background: #465786;
	color: #000000;
	border-right: outset 1px #DEE0E2;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
}
.nav_table {
	background: #6E7A9A;
	color: #000000;
}

.nav_title {
	background: #EFEFEF;
	color: #7C7C7C;
	font: bold 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 2px;
}
.nav_title_sub {
	background: #ffffff;
	color: #FFFFFF;
	padding: 2px;
	padding-left: 4px;
}
.action_title_sub {
	color: #FFFFFF;
	padding: 2px;
	padding-left: 4px;
}

.nav_title_sub:hover {
	background: #F8F8F8;
	color: #FFFFFF;
	padding: 2px;
	padding-left: 4px;
}
.nav_table a:link, .nav_table a:visited, nav_table a:active {
	text-decoration: none;
}
.nav_table a:hover {
	text-decoration:underline;
}

