#news_pagination {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}

#news_pagination a {
	color:#666;
	margin:5px;
}

#news_pagination a:hover {
	text-decoration:none;
}