body {
font-family: arial, helvetica, sans-serif;   
color:white;
background-image:url('/images/bg.png');
background-repeat: repeat;
background-color:#000;
}

table{
padding-right:5px;
padding-bottom:5px;
border-collapse:collapse;
font-size:11px;
}

td.submenu
{
padding-bottom:4px;
}

table.main{
border-collapse:separate;
background-color:#2a2a2a; 
width: 785px;
height:785px;
-moz-box-shadow: 0 0 3px 3px #000;
-webkit-box-shadow: 0 0 3px 3px #000;
box-shadow: 0 0 3px 3px #000;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
}

tr{
vertical-align:top;
}

td{
text-align:center;
}

td.header{
background-image:url('/images/menu.png');
padding-top:4px;
background-color:#2a2a2a;
white-space:nowrap;
font-size:12px;
letter-spacing:2px;
word-spacing:2px;
width: 785px;
text-align:center;
-moz-box-shadow: 0 0 1px 1px #000;
-webkit-box-shadow: 0 0 1px 1px #000;
box-shadow: 0 0 1px 1px #000;
}

td.hevent{
letter-spacing:2px;
word-spacing:2px;
font-size:10px;
background-color:#4c4c4c;
text-align:center;
}

td.img{
text-align:center;
background-repeat:no-repeat;
width:259px;
height:213px;
background-position:center center;
background-image:url('/images/ban.png');
}

span.newscontent{
font-weight:bold;
text-decoration: underline;
}

a:link ,a:visited{
color: #808080; 
font-family: arial, helvetica, sans-serif;  
font-size: 12px; 
text-decoration: none;
}

a:hover {
color: #c7c3c3;
font-family: arial, helvetica, sans-serif;  
font-size: 12px; 
text-decoration: underline;
}

input.paypal{
background-color: transparent;
border: none;
}

input, select, textarea {
background-color: #FAFAFA;
font-family: arial, helvetica, sans-serif;  
font-size: 11px; 
color: #5A5A5A;
border: 1px solid #BEBEBE;
}

#nav{
padding-right:6px;
padding-left:4px;
text-align:center;
white-space:nowrap;
}

td.data{
background-color:#111010;
text-align:center;
white-space:nowrap;
width:100%;
font-size:12px;
}

td.nav{
text-align:center;
white-space:nowrap;
}

#header{
background-image:url('/images/menu.png');
padding-top:4px;
background-color:#111010;
text-align:center;
white-space:nowrap;
font-size:12px;
-moz-box-shadow: 0 0 1px 1px #000;
-webkit-box-shadow: 0 0 1px 1px #000;
box-shadow: 0 0 1px 1px #000;
}