

p {border: 0; margin: 0; padding: 0; vertical-align: baseline; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}


.msg {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid; margin: 0 40px 15px 4px; padding: 8px 10px 0 10px;
}
.msg p {margin: 0 0 8px 0; text-align: left; padding-left: 0px;}
.msg-ok {border-color: #a6d877; background: #d2ecba url("msg-aceept00.png") repeat-x; color: #336801;}
.msg-error {border-color: #f3abab; background: #f9c9c9 url("msg-erro.png") repeat-x; color: #8d0d0d;}
.msg-ok p {background: url("accept00.png") 0 50% no-repeat;}
.msg-error p {background: url("cross_oc.png") 0% 50% no-repeat;}
.error {color: #b70b0b;}

.msgs {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid; margin: 0 0px 15px 4px; padding: 8px 10px 0 10px;
}
.msgs p {margin: 0 0 8px 0; text-align: center; padding-left: 0px;}
.msgs-oks { background: #F1F1F1; }


