@charset "utf-8";
/* CSS Document */
html,body {margin:0;padding:0;height:100%;font-family:Arial, Helvetica, sans-serif;}
body{ background:#303030 url(layout/black/body-bg.png) repeat-x top left; height:auto !important; height:100%;min-height:100%;}

p{padding:0; margin:0;}

#container{position:relative; margin:0 auto;width:100%; }
.content_all{ width:810px; margin:0 auto;overflow:hidden;}
	#content_row {width:100%;}

		#logo{ height:70px; text-align:center;padding-top:99px; padding-bottom:30px;}
		#timer{ height:300px;width:553px; padding-right:135px; padding-left:120px;background:url(layout/black/timer-bg.png) no-repeat 50% 0%; text-align:center;  position:relative; }
			#progresbar-bg{width:10px; padding:0 9px 0 8px; height:272px;background:url(layout/black/progresbar-bg.png) no-repeat 50% 0%;float:left;}
					#progresbar-bar{ margin-top:8px;float:left; width:10px; height:253px;position:relative;top:0;background:url(layout/black/progresbar.gif) no-repeat 50% 0px;}
					#procent{ position:absolute;height:31px; width:75px; background:url(layout/black/procent-bubble.png) no-repeat top left;padding-top:5px;left:53px;font-size:21px; color:#FFF; font-weight:bold;}
						#procent span{ font-size:14px; margin-left:2px;}
			
			#countdown{float:right; padding-top:30px; width:500px; padding-bottom:3px;}

			#countdown span{width:120px; height:84px; padding-left:5px;display:block; float:left;font-weight:bold; background:url(layout/black/counter-bg.gif) no-repeat 0 0;}
					#countdown span.text{width:112px; height:18px; padding-left:8px; padding-top:6px; text-align:left;font-size:14px;color:#898988; background:none;}
					#countdown span.number{width:95px; height:55px; padding-right:20px; text-align:right;font-size:45px;color:#111111; background:none;}
			#links{float:right; width:485px;padding:20px 10px 10px 5px;}
				#links a{width:41px; height:41px; display:block; float:left; background-position:0 0; background-repeat:no-repeat;}
					#links a#twitter{background-image:url(layout/black/twitter.png);}
					#links a#rss{ float:right; background-image:url(layout/black/rss.png);}
				#links p{ float:left; font-size:12px;width:393px; line-height:22px;color:#6b6e70;}
				#links span{ font-size:24px;}
			#form-email{float:right; width:500px;padding:20px 0px 10px 0px; margin:0;}
				#form-email p{ float:left;}
				#form-email input{ border:none; background:none;}
					#form-email input#email{height:23px; width:400px; padding:7px 5px 0 8px;  color:#919191; font-size:14px; font-family:Arial, Helvetica, sans-serif;background:url(layout/black/input-bg.png) no-repeat 0 0; }
					#form-email input#submit{ background-image:url(layout/black/submit.png);background-repeat:no-repeat; background-position: 0 0px; height:30px; width:75px; margin-left:2px; }
					#form-email input#submit:hover{ background-position:0-40px; cursor:pointer;}
	/*footer*/
div#footer{position:absolute; bottom:0; width:100%;text-align:center; background:url(layout/black/footer-bg.png) repeat-x 0 0; height:25px; padding-top:5px; color:#616161; font-size:11px;}

.tipsy {}
  .tipsy-inner {max-width: 200px; text-align: center;}
	.tipsy-east { background-image: url(layout/black/tooltip-right-arrow.gif); background-position: center right; padding-right:4px;}
	.tipsy-west { background-image: url(layout/black/tooltip-left-arrow.gif); background-position: left center;padding-left:4px;}
	.tipsy-inner span{ border:1px solid #4a4a4a;background-color:#000;padding:2px 4px; float:left; color:#919191; font-size:11px; }
	.tipsy-inner span.east{border-right:0px none;}
	.tipsy-inner span.west{border-left:0px none; }

