@charset "utf-8";

/* Form fields */
textarea {
	padding:8px;
	color:#3d3733;
	background-color:#0e0d0d;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-family:MuseoSans, Arial, Helvetica, Sans-serif;
	font-size:12px;
	border-radius:4px;
	border:none;
	box-shadow:inset 0 0 4px #000, 0 1px 0 rgba(255,204,102,.03);
}

select {
	font-family:MuseoSans, Arial, Helvetica, Sans-serif;
	font-size:12px;
	width:80%;
	padding:11px 10px 11px 10px;
	color:#3d3733;
	background-color:#0e0d0d;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:5px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
	box-shadow:inset 0 0 4px #000, 0 1px 0 rgba(255,204,102,.03);
	border:none;
}


input[type="text"],
input[type="password"],
input[type="email"]
{
	font-family:MuseoSans, Arial, Helvetica, Sans-serif;
	font-size:12px;
	width:80%;
	padding:11px 10px 11px 10px;
	color:#3d3733;
	background-color:#0e0d0d;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:5px;
	border:none;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
	box-shadow:inset 0 0 4px #000, 0 1px 0 rgba(255,204,102,.03);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	color:#f1ca6b;
}

/* Full-page styles (log in, register etc.) */
.page_form input[type="submit"] {
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
}

.avatar, #ucp_avatar, .store_item .item_icon {
	border:1px solid #000;
	margin-right:10px;
}

.ucp_divider {}

.vertical_divider {
	background-image:url(../images/vertical_divider.png);
	background-repeat:no-repeat;
	height:424px;
	width:33px;
}

#armory {
	margin-left:-5px !important;
}

/* First column in the #ucp_info */
#ucp_info aside:first-child {
	border-right:1px solid #0E171E;
}

#ucp_info aside:nth-child(3) {
	border-left:1px solid #0E171E;
}


#ucp_info aside:last-child {
	border-right:none !important;
}

/* Second <td> of each row */
#ucp_info td:nth-child(2) {
	font-weight:bold;
}

#ucp_buttons a {}

/* UCP: character list, character */
#ucp_characters a {
	border:1px solid #000;
}



/* Table style, used on vote panel, donate panel, online players etc. */
.nice_table tr:first-child td {
	border-bottom:1px solid #0e171e;
	color:#A07332;
	font-weight:normal;
}

.nice_table tr:first-child td a {
	color:#A07332;
}

.nice_table td {
	vertical-align: middle;
}


/* =========== CMS: shout box =========== */
#left #shoutbox textarea {
	width:92%;
	height:20px;
}

#left #shoutbox .shout_characters_remaining {
	font-size:10px;
	margin-top:12px;
	margin-left:1px;
}

#left #shoutbox #shoutbox_submit {
	float:right;
	padding-left:20px;
	padding-right:20px;
}

#left #the_shouts .shout {
	border-bottom:1px solid rgba(14,24,32,0.5);
	border-top:1px solid rgba(0,0,0,0.9);
	padding:10px;
	color:#3d4346;
}

#left #the_shouts .shout:first-child {
	border-top:none;
}

#left #the_shouts .shout:last-child {
	border-bottom:none;
}

#left #the_shouts .shout_date {
	float:right;
	font-size:10px;
}

#left #the_shouts .shout_author a {
	color:#a07332;
}

#left #the_shouts .shout_staff a {
	color:#2a88c8;
}

#left #shoutbox #shoutbox_view {
	text-align:center;
	padding-top:10px;
}

#left #shoutbox #shoutbox_view a {
	font-size:14px;
}


/* Store: filter fields divider */
#store form .filter_field {
	border-left:1px solid #0E171E;
	margin-bottom:8px;
}

/* Store: item group title */
.item_group_title, .store_item {
	text-shadow:1px 1px 0px #000;
}

.item_group_title {
	margin-top:20px;
	margin-bottom:5px;
	font-size:12px;
	font-weight:bold;
	margin-left:13px;
}

/* Store: item group box */
.item_group {
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px solid #0E171E;
	background-color:rgba(7,14,18,0.8);
	padding:0px;
}

/* Store: item */
.store_item {
	border-bottom:1px solid #0E171E;
}

/* Prevent the bottom border on the last item */
.store_item:last-child {
	border-bottom:none;
}

/* Prevent the top border on the first item */
.store_item:first-child {
	border-top:none;
}

#cart_price_divider {
	border-bottom:1px solid #0E171E;
	margin-bottom:10px;
}

#armory_top h1 {
	color:#eee;
}

#avatar_page center {
	color:#fff;
}

#armory_stats td {
	font-size:12px !important;
}

#store form input[type="text"] {
	width:95px !important;
}

#change_form input[type="text"] {
	width:50% !important;
}

/* Tooltip */
#tooltip, .tooltip {
	padding: 7px;
	background-color:#070c21;
	background-color: rgba(7,12,33,0.9);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #777777;
	border-top:1px solid #cfcfcf;
	-webkit-box-shadow: 0px 0px 3px #000;
	-moz-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	color: #fff;
	font-size: 12px;
	line-height:1.5;
}

#tooltip {
	position: absolute;
	display: none;
	z-index: 99999;
}

.nice_button img {
	margin-right:5px;
}

.page_form table {
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

/* First column (the field label, in most cases) */
.page_form table td:first-child {
	padding-left:20px;
	width:20%;
}

.page_form label {
	font-size:14px;
	margin-right:15px;
}

#forgot {
	margin-top:15px;
	margin-bottom:5px;
}

/* Table style, used on vote panel, donate panel, online players etc. */
.nice_table {
	width:95%;
	margin-left:auto;
	margin-right:auto;
	border-spacing:0px;
}

.nice_table tr:first-child td {
	font-weight:bold;
	padding:7px;
	font-size:14px;
}

.nice_table tr:not(:first-child) td{
	padding:7px;
	font-size:14px;
	height:40px;
}

.nice_table td:first-child {
	font-weight:bold;
}


/* User info sidebox */
.sidebox_info {
	padding:5px;
}

.sidebox_info td {
	padding:5px;
	font-size:10px;
}

.sidebox_info td:first-child {
	font-weight:bold;
}

.sidebox_info td img {
	margin-right:5px;
}

.sidebox_info center {
	padding-top:20px;
	padding-bottom:10px;
}

.sidebox_info center a:last-child {
	margin-left:10px;
}

/* Vote reminder */
#vote_reminder {
	width:468px;
	height:60px;
	position:fixed;
	margin-left:-234px;
	left:50%;
	top:50%;
	margin-top:-30px;
	background-color:#000;
	z-index:999999999999;
	display:none;
}

/* Modal boxes: alert & confirm */
.popup {
	width:500px;
	display:none;
	z-index:999999;
	padding:20px;
	background-color:#eee;
	border:1px solid #fff;
	position:fixed;
	left:50%;
	text-shadow:none;
	margin-left:-250px;
	top:30%;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 0px 35px #000;
	-webkit-box-shadow:0px 0px 35px #000;
	-moz-box-shadow:0px 0px 35px #000;
}

.popup h1 {
	margin:0px;
	padding:0px;
	text-align:center;
	font-weight:normal;
	font-size:18px;
	margin-bottom:10px;
	color:#000;
}

.popup a {
	display:block;
	float:left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	line-height: 1;
	padding:10px 20px 10px 20px;
	text-align: center;
	font-weight:bold;
	margin-right:7px;
	margin-left:7px;
	width:50px;
	text-shadow:none;
}

.popup a:hover {
	text-shadow:none;
	text-decoration:none;
	color:#fff;
}

.popup_button {
	background-color: #7fbf4d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	-ms-box-shadow: inset 0 1px 0 0 #96ca6d;
	-o-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	text-shadow: 0 -1px 0 #4c9021;
}

.popup_button:hover {
	 background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
}

.popup_button:active {
	border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

.popup_hide {
	background-color: #bfbfbf;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #9a9a9a));
	background-image: -webkit-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: -moz-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: -ms-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: -o-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: linear-gradient(top, #bfbfbf, #9a9a9a);
	border: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
	-webkit-box-shadow: inset 0 1px 0 0 #cbcbcb;
	-moz-box-shadow: inset 0 1px 0 0 #cbcbcb;
	-ms-box-shadow: inset 0 1px 0 0 #cbcbcb;
	-o-box-shadow: inset 0 1px 0 0 #cbcbcb;
	box-shadow: inset 0 1px 0 0 #cbcbcb;
	text-shadow: 0 -1px 0 #8f8f8f;
}

.popup_hide:hover {
	 background-color: #adadad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #a0a0a0));
    background-image: -webkit-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -moz-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -ms-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -o-linear-gradient(top, #adadad, #a0a0a0);
    background-image: linear-gradient(top, #adadad, #a0a0a0);
    -webkit-box-shadow: inset 0 1px 0 0 #bbbbbb;
    -moz-box-shadow: inset 0 1px 0 0 #bbbbbb;
    -ms-box-shadow: inset 0 1px 0 0 #bbbbbb;
    -o-box-shadow: inset 0 1px 0 0 #bbbbbb;
    box-shadow: inset 0 1px 0 0 #bbbbbb;
}

.popup_hide:active {
	border: 1px solid #a0a0a0;
    border-bottom: 1px solid #8b8b8b;
    -webkit-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
}

.popup_links {
	width:214px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
}

.popup_bg {
	background-color:#000;
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	display:none;
	top:0;
	left:0;
}
#alert_button {
	float:none;
	width:80px;
	margin-left:auto;
	margin-right:auto;
}